<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    
    <title>Страница пользователя</title>
    <style>
     body {
    background-image: url('https://i.ibb.co/Z1YRwNn/fon.jpg');
        
   }
   .ima {
    position:absolute;
    margin-left: 73%;
    bottom: 78%;
   }
   .obo {
       position: absolute;
       margin-left: 73%;
       bottom: 60%;
   }
   .vihod {
    font-size: 25px;
   }
   .avatarka {
    margin-left: 616px;
    margin-top: 75px;
   }
   input[type=text]{
   height:30px;
}
    .avared{
        margin-left: 616px;
    }
    </style>
</head>
<style>
    
   </style>
<body>
    <img src={{avatar}} height="315" width="315" class="avatarka">
    <div></div>
    <h1 class="ima"> {{user}} {{famil}}
    </h1>
    <div class="obo">Обо мне: {{obomne}}</div>
    <a href="http://127.0.0.1:5000/" class="vihod">Выход</a>
    <form action="/p2" method="get">
        <input type="text" name="avatar" class="avared">
        <input type="submit">
    </form>
</body>
</html>